.form-fields {
  &__lable {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $primary-text-color;
  }

  &__caption {
    display: block;
    margin-bottom: 4px;

    color: $primary-text-color;
  }

  &__input {
    min-width: 100%;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    padding-right: 12px;

    color: $header-logo-color;

    background-color: transparent;
    border: 1px solid $modal-fields-border;
    border-radius: 4px;
    transition: border-color $transition-duration $timing-function;

    cursor: pointer;

    .form-fields__lable:focus-within & {
      border-color: $accent-color;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill $transition-duration $timing-function;

    .form-fields__lable:focus-within + & {
      fill: $accent-color;
    }
  }
}

.comment-field {
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  resize: none;

  &::placeholder {
    color: $modal-placeholder;
  }
}

.form-checkbox {
  &__agree-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    /* margin-bottom: 30px; */

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }

  &__agree-checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  &__custom-checkbox {
    position: relative;

    display: block;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid $title-text-color;
    border-radius: 4px;
    transition: background-color $transition-duration $timing-function,
      border-color $transition-duration $timing-function;

    .form-checkbox__agree-checkbox:checked + & {
      background-color: $accent-color;
      border-color: transparent;
    }
  }

  &__custom-checkbox-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: fill $transition-duration $timing-function;
    fill: transparent;

    .form-checkbox__agree-checkbox:checked + .form-checkbox__custom-checkbox > & {
      fill: $primary-white-color;
    }
  }

  &__link {
    color: $accent-color;
    text-decoration-skip-ink: none;
  }
}
