.backdrop.is-hidden {
  visibility: hidden;

  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 100%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $bg-backdrop;
  transition: opacity 350ms $timing-function, visibility 350ms $timing-function;

  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 350ms $timing-function, visibility 350ms $timing-function;

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    padding: 9px;

    width: 30px;
    height: 30px;

    background-color: $primary-white-color;
    border: 1px solid $border-modal-close;
    border-radius: 50%;
    transition: color $transition-duration $timing-function;

    cursor: pointer;

    &:hover,
    &:focus {
      fill: currentColor;
      color: $accent-color;
    }
  }

  &__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;

    color: $title-text-color;
  }

  &__form-fields {
    position: relative;
    margin-bottom: 10px;
  }

  &__comment-container {
    margin-bottom: 20px;
  }

  &__form-checkbox {
    margin-bottom: 30px;
  }

  &__buttons {
    display: block;
    padding-right: 52px;
    padding-left: 52px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }
}
